body{
    background-color: rgb(0, 0, 0);

}
h1{
    color: rgb(177, 36, 36);
    font-size: 66px;
    font-family:sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: -10px 1px  70px rgb(255, 0, 0);
    letter-spacing:3px ;
    
}
h2{
    text-align: center;
    color: rgb(177, 36, 36);
    font-family:monospace;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: -10px 1px 30px rgb(255, 0, 0);
    
}
p{
    color: rgb(145, 9, 9);
    text-align: center;
}
img{
    display: block;
    margin: auto;
    border: 3px;
    border-radius: 70%;
    
    
}
.aparencia{
 border: 3px solid rgb(210, 30, 30);
 margin-top: 10px;
 border-radius: 30%;
  width: 500px;
    display: block;
    margin: auto;
}
.habilidades{
    border: 3px solid rgb(214, 31, 31);
    margin-top: 10px;
     border-radius: 30%;
      width: 500px;
    display: block;
    margin: auto;
}
.habitat{
     border: 3px solid rgb(214, 31, 31);
    margin-top: 10px;
     border-radius: 30%;
      width: 500px;
    display: block;
    margin: auto;
}
.curiosidade{
     border: 3px solid rgb(214, 31, 31);
    margin-top: 10px;
     border-radius: 30%;
    width: 500px;
    display: block;
    margin:auto;

}
